*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1{
    text-align: center;
    margin: 40px;
    text-transform: capitalize;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}



.main > div{
    border: 1px solid black;
    position: relative;
    background-color: gray;
    width: 450px;
    margin: 15px;


}

           /* position of div header */

.main > div >h2{
    position: absolute;
    top: 0;
    right:0;
    border: 3px solid black;
}

.main > .child1 >h2{
    background-color: pink;

}

.main >.child2 >h2{
    background-color: red;
    
}

.main > .child3 >h2{
    background-color: yellow;
    
}


                 /* media quary */


@media screen and (min-width: 960px) and (max-width: 1438px){
       


    
    .main >.child3{
        
        width: 94%;
    }
    .main >.child2{
        
        width: 45%;
        
    }
    .main >.child1{
        
        width: 45%;
        
    }

        
        
}